<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>

<body class="black">
    <header th:replace="~{base :: cabecalho}"></header>

    <main class="container">
        <header class="mb-5">
            <section style="border-radius: 5px" class="container-fluid bg-dark text-primary p-4">
                <h1 class="display-4 ">Novo Pedido</h1>
                <p class="border-bottom border-primary mt-4"> </p>
            </section>
        </header>
        <br>

        <form class="card text-light bg-dark  mb-5 text-muted" method="POST" action="/pedido/novo" >
            <section class="card-header text-center">
                <h4 class="text-primary">Formulario para cadastrar novo pedido</h4>
            </section>

            <section class="card-body p-3 ">
                <div class="mb-3">
                    <label for="nome_produto" class="form-label">Produto</label>
                    <input class="form-control border border-white bg-dark" id="nome_produto" name="nome_produto" type="text" placeholder="nome do produto" required title="informe qual o nome do produto">
                </div>

                <div class="mb-3">
                    <label for="url_produto" class="form-label">url</label>
                    <input class="form-control border border-white bg-dark" name="url_produto" id="url_produto" type="url" placeholder="url do produto" required
                           title="procure em um site o produto que voce deseja e cole a url aqui">
                </div>

                <div class="mb-3">
                    <label for="url_imagem" class="form-label">imagem</label>
                    <input class="form-control border border-white bg-dark" name="url_imagem" id="url_imagem" type="url" placeholder="url da imagem" required
                           title="procure uma imagem do produto que voce deseja e cole a url aqui">
                </div>
                <div class="mb-5">
                    <label for="descricao_produto" class="form-label">Descrição</label>
                    <textarea class="form-control border border-white bg-dark" id="descricao_produto" name="descricao_produto"
                              placeholder="Adicione detalhes pertinentes para ajudar o comprador" rows="3" ></textarea>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">Submeter</button>
                </div>
            </section>
        </form>
    </main>
</body>
</html>