<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base :: head}">

    </head>

    <body class="black">
        <header th:replace="~{base :: cabecalho}"></header>

        <main class="container">
            <header class="mb-5">
                <section th:replace="~{base :: titulo('Meus Pedidos')}"></section>
                <nav class=" border-bottom border-primary navbar navbar-expand d-flex justify-content-between p-3  ">
                    <div class="navbar-nav ">
                        <a class="nav-link active text-primary" href="">Todos</a>
                        <a class="nav-link text-muted"  href="">Aguardando</a>
                        <a class="nav-link text-muted" href="">Aprovado</a>
                        <a class="nav-link text-muted" href="">Entregue</a>
                    </div>
                    <div>
                        <a href="/pedido/formulario"><button type="button" class="btn btn-outline-primary black text-primary">Novo</button></a>
                    </div>
                </nav>
            </header>

            <article class="card text-light bg-dark mb-3" th:each="pedido : ${pedidos}">

                    <header>
                        <section class="card-header text-primary" th:text="${pedido.nomeProduto}"><h4>Titulo Produto:</h4></section>
                    </header>
                    <main class="card-body text-muted">
                        <div class="row">
                            <aside class="col-sm-4 mb-3">
                                <img th:src="${pedido.urlImagem}" class="img-thumbnail"
                                      src="https://e7.pngegg.com/pngimages/494/693/png-clipart-logo-shopping-list-design-product-shopping-list-purple-angle.png" >
                            </aside>

                            <aside class="col-12 col-sm-8 mb-3">
                                <section class="row">
                                    <section class="col-12 col-md-4">Valor: <span th:text="${pedido.valorNegociado}">1000.0</span></section>
                                    <section class="col-12 col-md-8"> Data de entrega <span th:text="${pedido.dataDaEntrega}">10/09/2022</span></section>
                                </section>
                                <section>Produto:</section>
                                <section> <input class="form-control bg-dark text-light" th:value="${pedido.urlProduto}" value="url do produto" /></section>
                                <section>Descrição</section>
                                <section><textarea class="form-control bg-dark text-light" th:text="${pedido.descricao}">Descrição do produto</textarea></section>

                            </aside>
                        </div>
                    </main>
            </article>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>